<!DOCTYPE html>
<html>
  <head>
    <title><%= Title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link  href="/public/images/brazil.png">
  </head>
  <body>
    <h1><%= Title%></h1>
    <p><%= Text%></p>
    <a background=<%= Imgurl%>></a>
    <img src=<%= Imgurl%>>
  </body>
</html>